body {
    background-color: #111;
    color: #888;
}

.header {
    color: #ccc;
    border-bottom: 1px solid #222;
}

.header h2 {
    color: #444;
}

.content-subhead {
    color: #777;
}

.button-submit {
    background-color: #0f466b;
}

.button-standard {
    background-color: #555;
}

.tooltip span {
    background-color: black;
}

.tooltip span::after {
    border-color: black transparent transparent transparent;
}

.pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form select, .pure-form textarea {
    background-color: #000;
    border: 1px solid #333;
    box-shadow: inset 0 1px 3px #222;
}

.pure-form input:not([type])[disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=text][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #151717;
    color: #353c3c;
}

.pure-table {
    border: 1px solid #343434;
}

.pure-table thead {
    background-color: #1f1f1f;
    color: #fff;
}

.pure-table th, .pure-table td {
    border-left: 1px solid #343434;
}

a {
    color: #0f466b;
}

.cover-box-inner {
    background-color: #222;
}

.strong-color {
    color: #ccc;
}

.hook-head {
    background-color: #282828;
}
.hook-action {
    color: #ccc;
}
.hook-body {
    background-color: #1c1c1c;
}
.hook-syntax-help code {
    background-color: #000;
    border: 1px solid #444;
}
.hook-filter {
    background-color: #000;
}
