body {
    color: #777;
}

.header {
    color: #333;
    border-bottom: 1px solid #eee;
}

.header h2 {
    color: #ccc;
}

.content-subhead {
    color: #888;
}

.button-submit {
    background-color: #1f8dd6;
}

.button-standard {
    background-color: #aaa;
}

.tooltip span {
    background-color: black;
}

.tooltip span::after {
    border-color: black transparent transparent transparent;
}

.cover-box-inner {
    background-color: #ddd;
}

.strong-color {
    color: #333;
}

.hook-head {
    background-color: #d7d7d7;
}
.hook-action {
    color: #333;
}
.hook-body {
    background-color: #e3e3e3;
}
.hook-syntax-help code {
    background-color: #fff;
    border: 1px solid #bbb;
}
.hook-filter {
    background-color: #fff;
}
