.menu-fas {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
    text-align: center;
}
.menu-user-box {
    max-width: calc(100% - 20px);
    padding: 10px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}
.user-box-small {
    font-size: 0.8em;
}
.user-box-nick {
    font-weight: bold;
}
.menu-spacer {
    height: 1em;
}
.content-fas {
    display: inline-block;
    width: 20px;
    text-align: center;
}
.buttons {
    text-align: right;
}
.button-submit, .button-standard {
    display: inline-block;
    padding: 0.75em 1.5em;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    user-select: none;
}
span.button-submit, span.button-standard {
    height: 1.5em;
}
input.button-submit, input.button-standard {
    height: 3em;
}
.button-submit:active {
    background-color: #1971ab;
}
.button-standard:active {
    background-color: #7f7f7f;
}
.split-button {
    display: block;
}
.button-spaced.left {
    margin: 5px 2.5px 5px 0;
}
.button-spaced.right {
    margin: 5px 0 5px 2.5px;
}
table, thead, tbody {
    width: 100%;
}
.force-fullwidth {
    width: 100%;
    min-width: 800px !important;
}
.wide-content {
    max-width: 80% !important;
}
.no-wrap {
    white-space: nowrap;
}
.user-action {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip span {
    visibility: hidden;
    width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 10px;
    position: absolute;
    z-index: 20;
    bottom: 150%;
    left: 50%;
    margin-left: -160px;
}
.tooltip span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover span {
    visibility: visible;
}
input[type=text], input[type=password], input[type=number], select, textarea {
    padding: 4px;
    width: calc(100% - 8px);
}
@media all and (min-width: 48em) {
    .only-mobile {
        display: none;
    }
}
@media all and (max-width: 48em) {
    .only-desktop {
        display: none;
    }
    .button-submit, .button-standard {
        display: block;
    }
    .tooltip {
        display: none;
    }
    .setting-name {
        font-weight: bold;
    }
}


.banner {
    position: absolute;
    bottom: 10%;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 110;
    width: calc(80% - 150px);
    max-width: 600px;
    background-color: #1f8dd6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
}
.banner.success {
    background-color: #007f00;
}
.banner.failed {
    background-color: #7f0000;
}
.banner-inner {
    position: relative;
    padding: 10px;
    text-align: center;
}
.banner-inner a {
    color: white;
}
.cover-box {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 100;
    width: calc(100% - 150px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.cover-box .header {
    border-bottom: none;
}
.cover-box-inner {
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.cover-box-inner.tiny {
    width: 200px;
    max-width: 50%;
    text-align: center;
}
.cover-box-content {
    padding: 0 40px;
    margin-top: 20px !important;
    margin-bottom: 20px;
}
.loading-spinner {
    display: inline-block;
    animation: spin 1.5s linear infinite;
}
.loading-spinner.spinner-large {
    font-size: 3em;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@media all and (max-width: 48em) {
    .banner {
        left: 0;
        width: 80%;
    }
    .cover-box {
        left: 0;
        width: 100%;
    }
}



.full-container {
    height: 100vh;
    width: 100%;
}
.hidden-by-default {
    display: none;
}


h1.head-small {
    font-size: 2em !important;
}
.bigmarker {
    width: 150px;
    max-width: 90%;
    margin: 10px;
}
.right-align {
    text-align: right;
}
.centered {
    text-align: center;
}
.cover-button-spacer {
    height: 1em;
}
.research-parameter {
    display: none;
}
.research-params {
    /*background-color: #2a2a2a;
    padding: 0 12px;*/
}
.objective-params {
    /*border: 1px solid crimson;
    background-color: #381920;*/
}
.reward-params {
    /*border: 1px solid blue;
    background-color: #191c38;*/
}


.mapboxgl-popup {
    display: none;
}
.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 12;
}
.marker.unknown {
    z-index: 11;
}
.poi-table-marker {
    width: 40px;
    height: 40px;
}
