/*
    This is the main stylesheet, and is loaded on all pages. It contains styling
    for most elements and works on top of the pure-css stylesheets
    (/css/layouts/*.css) and together with the theming stylesheets
    (/css/dark.css and /css/light.css).
*/

/* Icons in the menu sidebar. */
.menu-fas {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
    text-align: center;
}

/* The "userbox" which shows the currently logged in user at the top of the
   sidebar. */
.menu-user-box {
    max-width: calc(100% - 20px);
    padding: 10px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

/* Small text in the userbox (the "signed in as" text and the provider identity
   display underneath the nickname). The nickname itself is normal-sized. */
.user-box-small {
    font-size: 0.8em;
}

/* The nickname of the currently logged in user in the userbox. */
.user-box-nick {
    font-weight: bold;
}

/* Buttons displayed on the login page for signing in with various
   authentication providers. */
.login-button {
    text-align: left;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    width: 280px;
    font-size: 1.3em;
    padding: 7px 5px;
}

/* The icon for the authentication provider on each of the login buttons */
.login-button i {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.5em;
    margin: 5px 15px 5px 10px;
}

/* The color that should be used for the icons of each authentication provider.
   Displayed in the sidebar, in userboxes and elsewhere users' provider
   identities are displayed. */
.auth-provider-discord {
    color: #7289DA;
}
.auth-provider-discord-button {
    color: #FFFFFF;
    background-color: #7289DA;
}
.auth-provider-telegram {
    color: #0088CC;
}
.auth-provider-telegram-button {
    color: #FFFFFF;
    background-color: #0088CC;
}

/* Spacer to separate groups of elements in the sidebar. Creates an empty gap.
   Used to separate the userbox and login/logout buttons from the rest of the
   elements in the sidebar. */
.menu-spacer {
    height: 1em;
}

/* Icons in the main body of the page. Used to display "help" icons (?) next to
   configuration options on the admin pages. Hovering over these icons shows a
   tooltip that explains the usage of any configuration item. */
.content-fas {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.right-align {
    text-align: right;
}
.centered {
    text-align: center;
}

/* Block element which contains `.button-submit` and/or `.button-standard`. */
.buttons {
    text-align: right;
}

/* Buttons on forms, dialogs and popups.*/
.button-submit, .button-standard {
    display: inline-block;
    padding: 0.75em 1.5em;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    user-select: none;
}

/* Span and input elements render with different sizes, so we'll force the same
   size for both types of elements. */
span.button-submit, span.button-standard {
    height: 1.5em;
}
input.button-submit, input.button-standard {
    height: 3em;
}

.button-submit:active {
    background-color: #1971ab;
}
.button-standard:active {
    background-color: #7f7f7f;
}
.button-standard.button-red:active {
    background-color: #cf3333;
}
.button-standard.button-green:active {
    background-color: #218521;
}

/* Full-width/block style buttons */
.split-button {
    display: block;
}
/* Some input buttons somehow don't work with the above class. This is a
   fallback for those instances. */
.input-split-button {
    width: calc(100% - 5px);
    display: block;
}

/* If two block style buttons are placed next to each other, there should be
   some spacing between them. `.left` and `.right` are left-most and right-most
   buttons respectively. */
.button-spaced {
    margin: 5px 2.5px;
}
.button-spaced.left {
    margin: 5px 2.5px 5px 0;
}
.button-spaced.right {
    margin: 5px 0 5px 2.5px;
}

/* Full body container. This is used in two instances on the map page: The map
   itself is within one of these, as well as the user settings pages. The
   purpose of this is to ensure that the map and settings pages cover the entire
   screen (except the sidebar area). The height uses viewport height units
   rather than percentage units to ensure that the element actually scales to
   the full height of the viewport instead of the full height of `<body>` (which
   is usually less than the height of the viewport). */
.full-container {
    height: 100vh;
    width: 100%;
}

/* Elements which should be hidden by default. */
.hidden-by-default {
    display: none;
}

table, thead, tbody {
    width: 100%;
}

/* Used on tables which should always use as much viewport width as possible,
   instead of being capped at 800px. These appear on the POIs, users and groups
   admin pages, as the tables on those pages greatly benefit from wider screen
   space. */
.force-fullwidth {
    width: 100%;
    min-width: 800px !important;
}

/* Used on the parent `<div class="content">` container for tables which use the
   above `.force-fullwidth` style. `.wide-content` ensures that the table can
   use up to 80% of the screen space (the remaining 20% reserved to ensure a
   visually pleasant UI). */
.wide-content {
    max-width: 80% !important;
}

/* Disables work wrapping. */
.no-wrap {
    white-space: nowrap;
}

.red {
    color: red;
}
.green {
    color: green;
}

/* The (?) icon displayed next to settings on the administration pages. This
   element also contains the tooltip that pops up when you hover over that
   icon. */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

/* The tooltip that shows up when you hover over the (?) icon on the
   administration pages. */
.tooltip span {
    visibility: hidden;
    width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 10px;
    position: absolute;
    z-index: 20;
    bottom: 150%;
    left: 50%;
    margin-left: -160px;
}
.tooltip span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover span {
    visibility: visible;
}

/* Ensure proper sizing of input fields. */
input[type=text], input[type=password], input[type=number], select, textarea {
    padding: 4px;
    width: calc(100% - 8px);
}

/* QR codes displayed to approve new users in /auth/approval.php. */
.floating-approval-qr {
    float: right;
    margin: 0 0 20px 35px;
}

/* Clears the `float` set by `.floating-approval-qr`. */
.floating-approval-qr-clear {
    clear: both;
}

/* A link users can send to administrators to request approval of their user
   accounts. This link can be very long, hence it should be wrapped. */
.approval-url {
    word-wrap: break-word;
}

/* The table that is shown to administrators when approving an account via link
   or QR code. */
.approve-user-table td:nth-child(1) {
    width: 33%;
}

/* Mobile only. Mobile hides the sidebar as well - this is handled natively in
   pure-css. */
@media all and (min-width: 48em) {
    .only-mobile {
        display: none;
    }
}

/* Desktop only. */
@media all and (max-width: 48em) {
    .only-desktop {
        display: none;
    }

    /* Buttons should be displayed full-width rather than `inline-block` on
       mobile, as we can't assume that there is enough space to render them
       inline. */
    .button-submit, .button-standard {
        display: block;
    }

    /* Tooltips are not displayed for mobile clients on administration pages -
       instead, the decriptions which the tooltips contain are displayed
       separately underneath the name of each setting. */
    .tooltip {
        display: none;
    }

    /* In order to distinguish the name of a setting against its description,
       the name is also bolded. */
    .setting-name {
        font-weight: bold;
    }
}

/*
    BANNERS AND OVERLAYS

    Banners show up on top of the map to indicate success and failure states to
    the user after performing various operations, and can also prompt the user
    to perform some action (such as clicking on the map to set the location of a
    new POI).

    Overlays are popups and dialogs that show up on top of the map to let the
    user configure settings (e.g. report field research) or view more details
    about a POI.
*/

/* Basic banner configuration. */
.banner {
    position: absolute;
    bottom: 10%;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 110;
    width: calc(80% - 150px);
    max-width: 600px;
    background-color: #1f8dd6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
}


.banner.success {
    background-color: #007f00;
}
.banner.failed {
    background-color: #7f0000;
}

/* The inner block of the banner. Has spacing on each side to make it more
   aesthetically pleasing. */
.banner-inner {
    position: relative;
    padding: 10px;
    text-align: center;
}
.banner-inner a {
    color: white;
}

/* Basic overlay configuration. The cover-box is a full-screen block element
   with a semi-transparent black background that darkens the map to draw more
   attention to the overlay. The overlay is declared as a block element within
   `.cover-box`. */
.cover-box {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 100;
    width: calc(100% - 150px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* `.header` by default has a border at the bottom to draw a horizontal line
   separating the header from the body. Overlays look better without it, so
   we'll remove it. */
.cover-box .header {
    border-bottom: none;
}

/* The dialog box itself. This renders on top of `.cover-box`, centered on the
   screen. */
.cover-box-inner {
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/* A tiny version of the standard, 500px dialog box. This is used for loading
   spinners, since these don't require a bigger content space. */
.cover-box-inner.tiny {
    width: 200px;
    max-width: 50%;
    text-align: center;
}

/* The content body of the dialog box. Appears underneath `.header`. */
.cover-box-content {
    padding: 0 40px;
    margin-top: 20px !important;
    margin-bottom: 20px;
}

/* Loading icon for when data is processing. Spins clockwise. */
.loading-spinner {
    display: inline-block;
    animation: spin 1.5s linear infinite;
}
.loading-spinner.spinner-large {
    font-size: 3em;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Banner width overrides for mobile. `left: 0;` has to be explicitly defined
   due to the sidebar causing alignment issues with content when it's hidden. */
@media all and (max-width: 48em) {
    .banner {
        left: 0;
        width: 80%;
    }
    .cover-box {
        left: 0;
        width: 100%;
    }
}

/* Used for the header that displays the name of the POI when a POI is clicked
   and its details open. */
h1.head-small {
    font-size: 2em !important;
}

/* A big version of map markers. These are displayed pairwise, side-by-side in
   the POI details overlay that shows up when clicking a POI in the map. One of
   the markers represents the research objective, and the other the reward. */
.bigmarker {
    width: 150px;
    max-width: 90%;
    margin: 10px;
}

/* Spacer used to separate action buttons from the rest of the content in
   overlays/dialogs. */
.cover-button-spacer {
    height: 1em;
}

/* Objective and reward parameter input prompts (e.g. quantity of items
   awarded). These are displayed when needed based on the currently selected
   objective or reward, and should thus be hidden by default. */
.research-parameter {
    display: none;
}

/* Hide the default Mapbox popup (we're writing our own heavily customized
   popups and displaying those instead). */
.mapboxgl-popup {
    display: none;
}

/* Markers, as they appear on the map. */
.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 12;
}

/* Markers with unknown research should appear layered underneath the ones for
   which research is known, to better highlight POIs which have current research
   reports. */
.marker.unknown {
    z-index: 11;
}

/* Markers as they appear in the list of POIs on the administration pages. These
   show the current research on each POI in the list. */
.poi-table-marker {
    width: 40px;
    height: 40px;
}
