/*
    This is the main stylesheet, and is loaded on all pages. It contains styling
    for most elements and works on top of the pure-css stylesheets
    (/css/layouts/*.css) and together with the theming stylesheets
    (/css/dark.css and /css/light.css).
*/

/* Prevent iOS from styling input boxes. */
@supports (-webkit-overflow-scrolling: touch) {
    input, select, button {
        -webkit-appearance: none;
    }
}

/* Icons in the menu sidebar. */
.menu-fas {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
    text-align: center;
}

/* The header in the menu sidebar. */
.pure-menu-heading {
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Menus in the sidebar. Override default side-menu behavior of adding a 1px
   solid top border to menus. */
#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: none !important;
}

/* The "userbox" which shows the currently logged in user at the top of the
   sidebar. */
.menu-user-box {
    max-width: calc(100% - 20px);
    padding: 10px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

/* Small text in the userbox (the "signed in as" text and the provider identity
   display underneath the nickname). The nickname itself is normal-sized. */
.user-box-small {
    font-size: 0.8em;
}

/* The nickname of the currently logged in user in the userbox. */
.user-box-nick {
    font-weight: bold;
}

/* The color of the "Updates" sidebar item should be highlighted in orange if
   there is an available FreeField software update. */
.menu-update-available {
    color: darkorange !important;
}

/* The color of the "Filter" sidebar item should be highlighted in orange if
   filters are applied to the map markers. */
#menu-open-filters[data-active="1"] {
    color: darkorange !important;
}

/* In the same case, there should also be a "filters active" icon underneath the
   menu button for mobile devices. */
.filter-overlay-icon {
    cursor: pointer;
    position: fixed;
    display: none;
    left: 0;
    top: 44px;
    font-size: 20px;
    padding: 10px 0;
    width: 52px;
    text-align: center;
    color: white;
    background-color: darkorange;
    opacity: 0.7;
    z-index: 20;
}

/* The content div of the POI search dialog. */
.search-overlay-content {
    padding: 12px !important;
    margin: 20px !important;
}

/* Result row in the POI search dialog. */
.search-overlay-result {
    width: calc(100% - 24px);
    padding: 3px 10px;
    margin: 5px 0;
    cursor: pointer;
}

/* Position cell of the result row, indicating distance to the POI or its
   coordinates if no position could be found. */
.search-overlay-pos {
    text-align: right;
    font-size: 0.8em;
}

/* Direction of the POI from the user's current position, if known. */
.search-overlay-dir {
    display: inline-block;
    margin-right: 5px;
}

/* Buttons displayed on the login page for signing in with various
   authentication providers. */
.login-button {
    text-align: left;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    width: 280px;
    font-size: 1.3em;
    padding: 7px 5px;
}

/* The icon for the authentication provider on each of the login buttons */
.login-button i {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.5em;
    margin: 5px 15px 5px 10px;
}

/* The color that should be used for the icons of each authentication provider.
   Displayed in the sidebar, in userboxes and elsewhere users' provider
   identities are displayed. */
.auth-provider-discord {
    color: #7289DA;
}
.auth-provider-discord-button {
    color: #FFFFFF;
    background-color: #7289DA;
}
.auth-provider-telegram {
    color: #0088CC;
}
.auth-provider-telegram-button {
    color: #FFFFFF;
    background-color: #0088CC;
}
.auth-provider-reddit {
    color: #FF4500;
}
.auth-provider-reddit-button {
    color: #FFFFFF;
    background-color: #FF4500;
}
.auth-provider-facebook {
    color: #4267B2;
}
.auth-provider-facebook-button {
    color: #FFFFFF;
    background-color: #4267B2;
}
.auth-provider-line {
    color: #00C300;
}
.auth-provider-line-button {
    color: #FFFFFF;
    background-color: #00C300;
}
.auth-provider-groupme {
    color: #00AFF0;
}
.auth-provider-groupme-button {
    color: #FFFFFF;
    background-color: #00AFF0;
}

/* Pseudo-provider for API clients. */
.auth-provider-api {
    color: #1F8DD6;
}

/* Spacer to separate groups of elements in the sidebar. Creates an empty gap.
   Used to separate the userbox and login/logout buttons from the rest of the
   elements in the sidebar. */
.menu-spacer {
    height: 1em;
}

/* Icons in the main body of the page. Used to display "help" icons (?) next to
   configuration options on the admin pages. Hovering over these icons shows a
   tooltip that explains the usage of any configuration item. */
.content-fas {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.centered {
    text-align: center;
}
.monospaced {
    font-family: monospace;
    font-size: 1.2em;
}

/* Block element which contains `.button-submit` and/or `.button-standard`. */
.buttons {
    text-align: right;
}

/* Buttons on forms, dialogs and popups.*/
.button-submit, .button-standard {
    display: inline-block;
    padding: 0.75em 1.5em;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    user-select: none;
}
.button-submit[disabled], .button-standard[disabled] {
    cursor: not-allowed;
}

/* Span and input elements render with different sizes, so we'll force the same
   size for both types of elements. */
span.button-submit, span.button-standard {
    height: 1.5em;
}
input.button-submit, input.button-standard {
    height: 3em;
}

.button-submit:active:not([disabled]) {
    background-color: #1971ab;
}
.button-standard:active:not([disabled]) {
    background-color: #7f7f7f;
}
.button-standard.button-red:active:not([disabled]) {
    background-color: #cf3333;
}
.button-standard.button-green:active:not([disabled]) {
    background-color: #218521;
}

/* Paragraph that contains a checkbox "do not show again" on the Message of the
   Day popup. */
.motd-hide-paragraph {
    margin-top: 0;
}

/* Full-width/block style buttons */
.split-button {
    display: block;
}
/* Some input buttons somehow don't work with the above class. This is a
   fallback for those instances. */
.input-split-button {
    width: calc(100% - 5px);
    display: block;
}

/* If two block style buttons are placed next to each other, there should be
   some spacing between them. `.left` and `.right` are left-most and right-most
   buttons respectively. */
.button-spaced {
    margin: 5px 2.5px 0 2.5px;
}
.button-spaced.left {
    margin: 5px 2.5px 0px 0;
}
.button-spaced.right {
    margin: 5px 0 0px 2.5px;
}

/* Full body container. This is used in two instances on the map page: The map
   itself is within one of these, as well as the user settings pages. The
   purpose of this is to ensure that the map and settings pages cover the entire
   screen (except the sidebar area). The height uses viewport height units
   rather than percentage units to ensure that the element actually scales to
   the full height of the viewport instead of the full height of `<body>` (which
   is usually less than the height of the viewport). */
.full-container {
    height: 100vh;
    width: 100%;
}

/* Elements which should be hidden by default. */
.hidden-by-default {
    display: none;
}

table, thead, tbody {
    width: 100%;
}

/* Used on tables which should always use as much viewport width as possible,
   instead of being capped at 800px. These appear on the POIs, users and groups
   admin pages, as the tables on those pages greatly benefit from wider screen
   space. */
.force-fullwidth {
    width: 100%;
    min-width: 800px !important;
}

/* Used on the parent `<div class="content">` container for tables which use the
   above `.force-fullwidth` style. `.wide-content` ensures that the table can
   use up to 80% of the screen space (the remaining 20% reserved to ensure a
   visually pleasant UI). */
.wide-content {
    max-width: 80% !important;
}

/* Disables work wrapping. */
.no-wrap {
    white-space: nowrap;
}

.red {
    color: red;
}
.green {
    color: green;
}

/* The header displayed for available FreeField updates. */
.update-channel-head {
    padding: 5px 15px 1px 15px;
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

/* The body displayed for available FreeField updates. Bodies are hidden by
   default, and displayed on header click. */
.update-channel-body {
    padding: 20px 15px;
    display: none;
}

/* The type of release displayed in the header for available updates. */
.update-release-type {
    margin: 10px 0 !important;
    float: left;
}

/* The version number displayed in the header for available updates. */
.update-release-version {
    margin: 10px 0 !important;
    float: right;
}

/* A description explaining the release type in the header for available
   updates. */
.update-release-desc {
    clear: both;
}

/* A header that appears in the body for available updates. */
.update-release-notes {
    margin: 0 0 10px 0 !important;
}

/* Color coding of release types for available updates. */
.release-header-stable {
    color: #1f8dd6 !important;
}
.release-header-rc {
    color: green !important;
}
.release-header-beta {
    color: goldenrod !important;
}
.release-header-alpha {
    color: darkorange !important;
}
.release-header-dev {
    color: red !important;
}

/* The (?) icon displayed next to settings on the administration pages. This
   element also contains the tooltip that pops up when you hover over that
   icon. */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

/* The tooltip that shows up when you hover over the (?) icon on the
   administration pages. */
.tooltip span {
    visibility: hidden;
    width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 10px;
    position: absolute;
    z-index: 20;
    bottom: 150%;
    left: 50%;
    margin-left: -160px;
}
.tooltip span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover span {
    visibility: visible;
}

/* Ensure proper sizing of input fields. */
input[type=text], input[type=password], input[type=number], select, textarea {
    padding: 4px;
    width: calc(100% - 8px);
}

/* QR codes displayed to approve new users in /auth/approval.php. */
.floating-approval-qr {
    float: right;
    margin: 0 0 20px 35px;
}

/* Clears the `float` set by `.floating-approval-qr`. */
.floating-approval-qr-clear {
    clear: both;
}

/* A link users can send to administrators to request approval of their user
   accounts. This link can be very long, hence it should be wrapped. */
.approval-url {
    word-wrap: break-word;
}

/* The table that is shown to administrators when approving an account via link
   or QR code. */
.approve-user-table td:nth-child(1) {
    width: 33%;
}

/* Mobile only. Mobile hides the sidebar as well - this is handled natively in
   pure-css. */
@media all and (min-width: 48em) {
    .only-mobile {
        display: none;
    }
}

/* Desktop only. */
@media all and (max-width: 48em) {
    .only-desktop {
        display: none;
    }

    /* Buttons should be displayed full-width rather than `inline-block` on
       mobile, as we can't assume that there is enough space to render them
       inline. */
    .button-submit, .button-standard {
        display: block;
    }

    /* Tooltips are not displayed for mobile clients on administration pages -
       instead, the decriptions which the tooltips contain are displayed
       separately underneath the name of each setting. */
    .tooltip {
        display: none;
    }

    /* In order to distinguish the name of a setting against its description,
       the name is also bolded. */
    .setting-name {
        font-weight: bold;
    }

    /* On mobile, the position of the POI in search result rows are displayed on
       their own line underneath the POI name, and should therefore not be right
       aligned. */
    .search-overlay-pos {
        text-align: left;
    }
}

/*
    BANNERS AND OVERLAYS

    Banners show up on top of the map to indicate success and failure states to
    the user after performing various operations, and can also prompt the user
    to perform some action (such as clicking on the map to set the location of a
    new POI).

    Overlays are popups and dialogs that show up on top of the map to let the
    user configure settings (e.g. report field research) or view more details
    about a POI.
*/

/* Basic banner configuration. */
.banner {
    position: absolute;
    bottom: 10%;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 110;
    width: calc(80% - 150px);
    max-width: 600px;
    background-color: #1f8dd6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
}


.banner.success {
    background-color: #007f00;
}
.banner.failed {
    background-color: #7f0000;
}

/* The inner block of the banner. Has spacing on each side to make it more
   aesthetically pleasing. */
.banner-inner {
    position: relative;
    padding: 10px;
    text-align: center;
}
.banner-inner a {
    color: white;
}

/* The banner at the top of the page containing the counter for hidden POIs if there are more
   POIs within bounds than allowed by user settings. */
.top-banner {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 90;
    max-width: calc(100% - 150px);
    width: 200px;
    color: white;
    display: none;
}

/* The banner has triangles on both sides to create a notch effect. */
.top-banner .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
}

.top-banner .triangle-left {
    left: 0.1px;
    top: 0;
    border-width: 0 28px 28px 0;
    border-color: transparent #7f0000 transparent transparent;
}

.top-banner .triangle-right {
    right: 0.1px;
    top: 0;
    border-width: 28px 28px 0 0;
    border-color: #7f0000 transparent transparent transparent;
}

.top-banner .top-banner-inner {
    margin: 0 28px 0 28px;
    background-color: #7f0000;
    text-align: center;
    padding-top: 4px;
    font-size: 17px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-banner a {
    color: #fff;
    text-decoration: none;
}

/* Basic overlay configuration. The cover-box is a full-screen block element
   with a semi-transparent black background that darkens the map to draw more
   attention to the overlay. The overlay is declared as a block element within
   `.cover-box`. */
.cover-box {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    margin: auto;
    z-index: 100;
    width: calc(100% - 150px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* `.header` by default has a border at the bottom to draw a horizontal line
   separating the header from the body. Overlays look better without it, so
   we'll remove it. */
.cover-box .header {
    border-bottom: none;
}

/* The dialog box itself. This renders on top of `.cover-box`, centered on the
   screen. */
.cover-box-inner {
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/* A tiny version of the standard, 500px dialog box. This is used for loading
   spinners, since these don't require a bigger content space. */
.cover-box-inner.tiny {
    width: 200px;
    max-width: 50%;
    text-align: center;
}

/* The content body of the dialog box. Appears underneath `.header`. */
.cover-box-content {
    padding: 0 40px;
    margin-top: 20px !important;
    margin-bottom: 20px;
}

/* Loading icon for when data is processing. Spins clockwise. */
.loading-spinner {
    display: inline-block;
    animation: spin 1.5s linear infinite;
}
.loading-spinner.spinner-large {
    font-size: 3em;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Banner width overrides for mobile. `left: 0;` has to be explicitly defined
   due to the sidebar causing alignment issues with content when it's hidden. */
@media all and (max-width: 48em) {
    .banner {
        left: 0;
        width: 80%;
    }
    .top-banner {
        left: 0;
        max-width: calc(100% - 150px);
    }
    .cover-box {
        left: 0;
        width: 100%;
    }
}

/* Used for the header that displays the name of the POI when a POI is clicked
   and its details open. */
h1.head-small {
    font-size: 2em !important;
}

/* A big version of map markers. These are displayed pairwise, side-by-side in
   the POI details overlay that shows up when clicking a POI in the map. One of
   the markers represents the research objective, and the other the reward. */
.bigmarker {
    width: 150px;
    max-width: 90%;
    margin: 10px;
}

/* Spacer used to separate action buttons from the rest of the content in
   overlays/dialogs. */
.cover-button-spacer {
    height: 1em;
}

/* Objective and reward parameter input prompts (e.g. quantity of items
   awarded). These are displayed when needed based on the currently selected
   objective or reward, and should thus be hidden by default. */
.research-parameter {
    display: none;
}

/* Hide the default Mapbox popup (we're writing our own heavily customized
   popups and displaying those instead). */
.mapboxgl-popup {
    display: none;
}

/* Prevent Leaflet map from rendering on top of popup boxes on the page. */
.leaflet-pane {
    z-index: 0;
}

/* Hide the default Leaflet `divIcon` container. */
.leaflet-div-icon {
    background: none;
    border: none;
    outline: none;
}

/* Markers, as they appear on the map. */
.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 12;
}

/* Markers with unknown research should appear layered underneath the ones for
   which research is known, to better highlight POIs which have current research
   reports. */
.marker.unknown {
    z-index: 11;
}

/* Leaflet markers are automatically assigned a z-index value that corresponds
   to its latitude. This means that the southernmost markers are displayed on
   top of all other markers. This can make it hard to find markers with research
   tasks defined. Override this behavior using data attributes on the Leaflet
   marker elements. */
.leaflet-marker-icon {
    z-index: 12 !important;
}
.leaflet-marker-icon[data-ff-icon="unknown"] {
    z-index: 11 !important;
}

/* Due to the `z-index: 10` on `.marker`, Mapbox renders the markers on top of
   other UI elements, such as the navigation buttons and menu icon. Fix this by
   assigning these elements a higher `z-index`. */
.mapboxgl-control-container > div, #menuLink {
    z-index: 20;
}

/* Markers as they appear in the list of POIs on the administration pages. These
   show the current research on each POI in the list. */
.poi-table-marker {
    width: 40px;
    height: 40px;
}

/* The warning shown if the POI import table contains invalid data when
   importing POIs through the POI list page on the administration pages. */
.poi-import-invalid {
    color: darkorange;
}

/*
    ------------------------------------------------------------------------
        ICON SELECTOR PREVIEW BOX
    ------------------------------------------------------------------------
*/

/* The icon preview box itself. */
.opt-icon-selector {
    width: 100%;
}

/* The logo displayed when previewing icon sets, for icon sets which have a
   logo. */
.opt-icon-selector .logo {
    width: 400px;
    max-width: 100%;
}

/* The name of the icon set, displayed as a header above the previewed icons. */
.opt-icon-selector .name {
    margin-bottom: 0;
}
.opt-icon-selector .name.light {
    color: #333;
}
.opt-icon-selector .name.dark {
    color: #ccc;
}

/* The box in which icons are previewed. */
.opt-icon-selector .icon-box {
    width: calc(100% - 20px);
    padding: 10px;
}
.opt-icon-selector .icon-box.light {
    background-color: #ccc;
}
.opt-icon-selector .icon-box.dark {
    background-color: #333;
}

/* Individual icons displayed in the icon preview boxes. */
.opt-icon-selector .icon-box > * {
    width: 68px;
    height: 68px;
    margin: 5px;
}

/*
    ------------------------------------------------------------------------
        PARAGRAPH PREVIEW BOX
    ------------------------------------------------------------------------
*/

/* The box that contains the parsed Markdown content itself. */
.para-content {
    padding: 5px 20px;
}

/* The disclaimer underneath the preview that explains that the rendered HTML
   may differ from what is displayed in the preview box. */
.para-disclaimer {
    font-size: 0.8em;
}
