[submodule "vendor/sqrl"]
	path = vendor/sqrl
	url = https://github.com/trianglman/sqrl
[submodule "vendor/qr-code"]
	path = vendor/qr-code
	url = https://github.com/endroid/qr-code.git
[submodule "vendor/geoPHP"]
	path = vendor/geoPHP
	url = https://github.com/phayes/geoPHP.git
