/*
    Ensure words in table cells wrap properly.
    Source: https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html
*/
@media screen and (min-width: 767px) {
    .wy-table-responsive table td {
        white-space: normal !important;
    }
    .wy-table-responsive {
        overflow: visible !important;
    }
}

/*
    Override the neon yellow background color for code blocks and use the same
    shade of gray that RTD themselves use in their demo pages:
    https://sphinx-rtd-theme.readthedocs.io/en/latest/demo/demo.html
*/
@media screen {
    .highlight {
        background-color: #f8f8f8;
    }
}
